<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/internal_logs/internallog.txt">

  <targets>
    <target
      xsi:type="File"
      name="logfile"
      fileName="${basedir}/logs/current.log"
      layout="${longdate} ${level:uppercase=true} ${message}"
      archiveFileName="${basedir}/logs/archive/txt/${shortdate}_logfile.{#}.log"
      archiveAboveSize="10485760"
      maxArchiveFiles="30"
      archiveNumbering="Rolling"
      archiveEvery="Day"
      createDirs="true"
    />

    <target
      xsi:type="File"
      name="jsonFile"
      fileName="${basedir}/logs/current.json"
      archiveFileName="${basedir}/logs/archive/json/${shortdate}_logfile.{#}.json"
      archiveAboveSize="10485760"
      maxArchiveFiles="30"
      archiveNumbering="Rolling"
      createDirs="true">
      <layout xsi:type="JsonLayout" includeEventProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="message" layout="${message}" />
        <!-- O atributo 'properties' conterá todas as suas propriedades estruturadas -->
        <attribute name="properties" layout="${all-event-properties}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="jsonFile" />
  </rules>
</nlog>